<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="themes/css/styles.css" type="text/css" />
</head>
<body>
<div id="header">
	<div class="top">
		<h1><img src="themes/images/logo.png" alt="" /></h1>
	</div>
	<div id="nav">
		<div class="content">
			<div id="displayDate"><com:TLabel id="dateAujourdhui" /></div>
			<ul class="breadcrumbs">
				<com:TLabel id="navigationHaut" />
			</ul>
		</div>
	</div>
</div>
<div id="middle">
	<div class="" id="main-part">
        <div class="form-bloc-erreur maintenance">
        	<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
            <div class="content">
				<div class="red">
					<div class="center text-big">Page non trouvée</div>
					<div class="spacer-small"></div>
					<div class="center">
						Erreur 404 - La page que vous recherchez n'existe pas.<br />
						Merci de vérifier l'adresse.<br /><br />
						<a href="/">Retour à la page d'accueil</a>
					</div>
				</div>
                <div class="breaker"></div>
            </div>
            <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			<div class="spacer"></div><div class="spacer"></div>
			<div class="spacer"></div><div class="spacer"></div>
			<div class="spacer"></div><div class="spacer"></div>
			<div class="spacer"></div><div class="spacer"></div>
			<div class="spacer"></div><div class="spacer"></div>
        </div>
		<div class="spacer"></div>
		<div class="breaker"></div>
	</div>
	<div class="breaker"></div>
</div>
<div id="footer"></div>
</body>
</html>